In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
housing = pd.read_csv('data/housing.csv')
housing.head()

   rooms   price
0      1     100
1      1     120
2      2     190
3      2     200
4      2     230